<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', { pageTitle: 'Mi Perfil de Usuario' }) %>
</head>

<body>
        <h1>Perfil Usuario</h1>
        <div>
            <label>Nombre:</label>
            <input type="text" name="fullname" value="<%= user.fullname %>" >
        </div>
        
        <div>
            <label>Email:</label>
            <input type="email" name="email" value="<%= user.email %>" >
        </div>
        
        <div>
            <label>Avatar</label>
            <img src="/uploads/avatars/<%= user.avatar %> " alt="" srcset="">

        </div>
        <form class="" action="/users/logout" method="POST">
            <button>Salir</button>
    </form>
</body>

</html>